<h1>All Sections</h1>

<% @sections.each do |section| %>
  <h3><%= section.name %><%= button_to 'Edit', "/sections/#{section.id}/edit", method: :get %></h3>
  <p><%= section.id %></p>
  <p><%= section.created_at %></p>
<% end %>

<a href="/sections/new">New Section</a>
<br />


<%= link_to 'Sort by Total Instruments', '/sections?sort=desc'%>
<%# # NEED FORM INSTEAD OF ABOVE LINK? %>
