<a href="/sections">Section Index</a>

<h1><%= @section.name %></h1>

<p>Created Date: <%= @section.created_date %></p>
<p>Cartage Required? <%= @section.cartage %></p>

<a href="/sections/<%= @section.id %>/edit">Update Section</a>
<%= button_to 'Delete Section', "/sections/#{@section.id}", method: :delete %>