<h2>Here are our instruments:</h2>

<% @instruments.each do |instrument| %>
    <h3><%= instrument.name%><%= button_to 'Edit', "/instruments/#{instrument.id}/edit", method: :get %><%= button_to 'Delete', "/instruments/#{instrument.id}", method: :delete %></h3>
    <h4> <%= instrument.section.name%></h4>
    <p>Hired on: <%= instrument.date_hired%></p>
    <p>Age: <%= instrument.age %></p>
    <p>Created At: <%= instrument.created_at %></p>
<% end %>
<br />
<%= link_to('Create Instrument', "/sections/#{@section_id}/instruments/new") %>

<%= form_tag "/instruments", method: :get do %>
    <%= submit_tag 'Only return instruments over the age of:' %>
    <%= text_field_tag :age %>
<%end%>
